---
import EntryMenu from 'src/components/EntryMenu.astro'
import SearchBox from 'src/components/SearchBox.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import SidebarNav from 'src/components/SidebarNav.astro'
import { Subheader } from 'src/components/UtilClasses.css'
import BaseLayout from 'src/layouts/BaseLayout.astro'
import ContentByEntry from 'src/layouts/ContentByEntry.astro'
import { loadAndFormatCollection } from 'src/util/collection.ts'

export async function getStaticPaths() {
	const entries = await loadAndFormatCollection('artist')
	return entries.map((entry) => ({
		params: { slug: entry.extra.slug },
		props: {
			entry
		}
	}))
}

const { entry } = Astro.props
const collection = entry.entry.collection
---

<BaseLayout>
	<SidebarNav scrollContext={collection}>
		<div slot="sidebarFixed" class={`${Subheader['sidebarTopAndBottom']}`}>
			<ShuffleFilters itemselector=".sidebar-item" boardselector="#sidebar-menu">
				<SearchBox placeholder="Search artists" />
			</ShuffleFilters>
		</div>
		<EntryMenu slot="sidebarMenu" collection={collection} selected={entry.entry.id} />
		<ContentByEntry entry={entry} slot="content" />
	</SidebarNav>
</BaseLayout>
