---
import EntryMenu from 'src/components/EntryMenu.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import SidebarNav from 'src/components/SidebarNav.astro'
import BaseLayout from 'src/layouts/BaseLayout.astro'
import ContentByEntry from 'src/layouts/ContentByEntry.astro'
import { loadAndFormatCollection } from 'src/util/collection.ts'

export async function getStaticPaths() {
	const entries = await loadAndFormatCollection('artist')
	return entries.map((entry) => ({
		params: { slug: entry.extra.slug },
		props: {
			entry
		}
	}))
}

const { entry } = Astro.props
---

<BaseLayout>
	<SidebarNav>
		<EntryMenu slot="sidebar" collection="artist" selected={entry.entry.id}>
			<ShuffleFilters itemselector=".sidebar-item" boardselector="#sidebar-menu" offsetTop="0px">
				<div>
					<span>Search: </span>
					<input type="text" data-filter="title=value" placeholder="Search artists" />
				</div>
			</ShuffleFilters>
		</EntryMenu>
		<ContentByEntry entry={entry} slot="content" />
	</SidebarNav>
</BaseLayout>
