---
/**
 * This is the base layout which all layouts should inherit from.
 *
 * Props:
 *  - hideFooter (optional): The footer will be hidden if true.
 *  - className (optional): Classes added to the content wrapper.
 */
import GlobalStyle from 'src/components/GlobalStyle.astro'
import SiteFooter from 'src/components/SiteFooter.astro'
import SiteHeader from 'src/components/SiteHeader.astro'
import '../../Theme.css.ts'
import './BaseLayout.css.ts'
import { Content, SiteContainer } from 'src/components/UtilClasses.css'

interface Props {
	hideFooter?: boolean
	className?: string
}

const { hideFooter, className } = Astro.props
---

<GlobalStyle />
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script type="application/javascript">
			var global = window
		</script>
	</head>
	<body>
		<div class={SiteContainer[hideFooter ? 'hideFooter' : 'default']}>
			<SiteHeader />
			<div class={`${Content} ${className}`}>
				<slot />
			</div>
		</div>
		{!hideFooter && <SiteFooter />}
	</body>
</html>
