---
import GigsMenu from 'src/components/gig/GigsMenu.astro'
import SearchBox from 'src/components/SearchBox.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import SidebarNav from 'src/components/SidebarNav.astro'
import { Subheader } from 'src/components/UtilClasses.css'
import BaseLayout from 'src/layouts/BaseLayout.astro'
import Gig from 'src/layouts/Gig.astro'
import { theme } from 'src/Theme.css'
import { loadAndFormatCollection } from 'src/util/collection.ts'

export async function getStaticPaths() {
	const entries = await loadAndFormatCollection('gig')
	return entries.map((entry) => ({
		params: { slug: entry.extra.slug },
		props: {
			entry
		}
	}))
}

const { entry } = Astro.props
const collection = entry.entry.collection
---

<BaseLayout>
	<SidebarNav scrollContext={collection}>
		<div slot="sidebarFixed" class={`${Subheader['sidebarTopAndBottom']}`}>
			<ShuffleFilters itemselector=".sidebar-item" boardselector="#sidebar-menu">
				<SearchBox placeholder="Search by gig, artist, venue" />
			</ShuffleFilters>
		</div>
		<GigsMenu slot="sidebarMenu" selected={entry.entry.id} />
		<Gig entry={entry} slot="content" />
	</SidebarNav>
</BaseLayout>
