---
import GigsMenu from 'src/components/gig/GigsMenu.astro'
import SearchBox from 'src/components/SearchBox.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import { Subheader } from 'src/components/UtilClasses.css'
import SidebarLayout from 'src/layouts/base/SidebarLayout.astro'
import Gig from 'src/layouts/collection/Gig.astro'
import { loadAndFormatCollection } from 'src/util/collection.ts'

export async function getStaticPaths() {
	const entries = await loadAndFormatCollection('gig')
	return entries.map((entry) => ({
		params: { slug: entry.extra.slug },
		props: {
			entry
		}
	}))
}

const { entry } = Astro.props
---

<SidebarLayout scrollContext="gigs">
	<ShuffleFilters className="hideMobile" slot="subheaderTop" itemselector=".tile" boardselector="#artist-grid">
		<SearchBox placeholder=`Search gigs by title, artist, venue` />
	</ShuffleFilters>
	<ShuffleFilters
		slot="sidebarFixed"
		className="showMobile fullWidth"
		itemselector=".sidebar-item"
		boardselector="#sidebar-menu"
	>
		<SearchBox placeholder=`Search gigs by title, artist, venue` />
	</ShuffleFilters>
	<GigsMenu slot="sidebarMenu" selected={entry.entry.id} />
	<Gig entry={entry} slot="content" />
	<div slot="subheaderBottomMobile"></div>
</SidebarLayout>
