---
import ShuffleFilters from '@src/components/ShuffleFilters.astro'
import { loadAndFormatCollection } from '@src/util/collection'
import GigsShuffle from '@src/components/gig/GigsShuffle.tsx'
import SubheadersLayout from '@src/layouts/base/SubheadersLayout.astro'
import fs from 'fs-extra'
import Menu from '@src/components/Menu.astro'

const gigs = await loadAndFormatCollection('gig')

/**
 * This is somewhat insane.
 *
 * Basically since we're serving this up as a big blob to the client,
 * we want to remove all fields we don't need.
 * This brings it down from like 3mb to like 600kb.
 *
 * Downside is it breaks type safety.
 *
 * Maybe there's a better way to do this statically, not sure.
 */
const minimalGigs = JSON.parse(JSON.stringify(gigs)).map((gig: any) => {
	const minimalArtists = gig.extra.artists.map((artist: any) => {
		return {
			id: artist.entry.id,
			title: artist.entry.data.title,
			links: artist.entry.data.links,
			origin: artist.entry.data.origin,
			extra: {
				gigCount: artist.extra.gigCount,
				absolutePath: artist.extra.absolutePath
			}
		}
	})
	const minimalGig = {
		id: gig.entry.id,
		title: gig.entry.data.title,
		date: gig.entry.data.date,
		artists: gig.entry.data.artists,
		extra: {
			artists: minimalArtists,
			venue: gig.extra.venue,
			absolutePath: gig.extra.absolutePath
		}
	}
	return minimalGig
})

const gigsJSON = JSON.stringify(minimalGigs)

const path = 'public/gigs.json'
fs.writeFileSync(path, gigsJSON)
---

<SubheadersLayout hideFooter={true} poo={{ title: 'Gig Jukebox' }}>
	<ShuffleFilters slot="subheaderTop">
		<div style={{ marginLeft: 'auto' }}>
			<span>Mode: </span>
			<div class="buttonGroup">
				<a href="/gigs">
					<button>Timeline</button>
				</a>
				<a href="/gigs/shuffle">
					<button class={'active'}>Shuffle</button>
				</a>
			</div>
		</div>
	</ShuffleFilters>
	<div style={{ marginLeft: 'auto' }} slot="subheaderTopDesktop">
		<Menu
			links={[
				{ title: 'Timeline', href: '/gigs/', highlightOnActive: true },
				{ title: 'Shuffle', href: '/gigs/shuffle' }
			]}
			menuType={'horizontal'}
		/>
	</div>
	<GigsShuffle client:load />
</SubheadersLayout>
