---
import GridContainer from 'src/components/GridContainer'
import BaseLayout from '../layouts/BaseLayout.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import Tile from 'src/components/Tile.astro'
import { GridChild } from 'src/components/GridContainer.css'

const blogs = await loadAndFormatCollection('blog')
---

<BaseLayout>
	<GridContainer>
		{
			blogs.map((blog) => (
				<a class={GridChild} href={blog.extra.absolutePath}>
					<h3>{blog.entry.id}</h3>
				</a>
			))
		}
	</GridContainer>
</BaseLayout>
