---
import BaseLayout from '../layouts/BaseLayout.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import GigsTimeline from 'src/components/gig/GigsTimeline.astro'
import GigsShuffle from 'src/components/gig/GigsShuffle.tsx'

interface Props {
	mode: 'timeline' | 'shuffle'
}

const gigs = await loadAndFormatCollection('gig')

const { mode = 'timeline' } = Astro.props
---

<BaseLayout hideFooter={true}>
	<ShuffleFilters itemselector=".tile" boardselector="#gigs">
		{
			mode === 'timeline' && (
				<div>
					<span>Search: </span>
					<input type="text" data-filter="title=value" placeholder="Search by gig, artist, venue..." />
				</div>
			)
		}
		<div>
			<span>Mode: </span>
			<a href="/gigs">
				<button class={mode === 'timeline' ? 'active' : ''}>Timeline</button>
			</a>
			<a href="/gigs/shuffle">
				<button class={mode === 'shuffle' ? 'active' : ''}>Shuffle</button>
			</a>
		</div>
	</ShuffleFilters>
	{mode === 'timeline' && <GigsTimeline gigs={gigs} />}
	{mode === 'shuffle' && <GigsShuffle gigs={gigs} client:load />}
</BaseLayout>
