---
import GridContainer from 'src/components/GridContainer'
import BaseLayout from '../layouts/BaseLayout.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import Tile from 'src/components/Tile.astro'
import { GridChild } from 'src/components/GridContainer.css'

const gigs = await loadAndFormatCollection('gig')
---

<BaseLayout>
	<GridContainer>
		{
			gigs.map((gig) => (
				<a class={GridChild} href={gig.extra.absolutePath}>
					<h3>{gig.entry.id}</h3>
				</a>
			))
		}
	</GridContainer>
</BaseLayout>
