---
import GridContainer from 'src/components/GridContainer'
import BaseLayout from '../layouts/BaseLayout.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import Tile from 'src/components/Tile.astro'
import { GridChild } from 'src/components/GridContainer.css'

const vaultsessions = await loadAndFormatCollection('vaultsession')
---

<BaseLayout>
	<GridContainer>
		{
			vaultsessions.map((vaultsession) => (
				<a class={GridChild} href={vaultsession.extra.absolutePath}>
					<h3>{vaultsession.entry.id}</h3>
				</a>
			))
		}
	</GridContainer>
</BaseLayout>
