---
import FlexGridContainer from 'src/components/FlexGridContainer.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { loadAndFormatCollection } from 'src/util/collection'

const vaultsessions = await loadAndFormatCollection('vaultsession')
---

<BaseLayout>
	<FlexGridContainer>
		{
			vaultsessions.map((vaultsession) => (
				<a href={vaultsession.extra.absolutePath}>
					<h3>{vaultsession.entry.id}</h3>
				</a>
			))
		}
	</FlexGridContainer>
</BaseLayout>
