---
import { loadAndFormatCollection } from 'src/util/collection.ts'
import SidebarLayout from 'src/layouts/base/SidebarLayout.astro'
import Series from 'src/layouts/collection/Series.astro'
import EntryMenu from 'src/components/EntryMenu.astro'
import BackIcon from '~icons/iconoir/long-arrow-up-left'
import { MenuLi, MenuLinkWrapper, MenuWrapper } from 'src/components/Menu.css'

export async function getStaticPaths() {
	const entries = await loadAndFormatCollection('series')
	return entries.map((entry) => ({
		params: { slug: entry.extra.slug },
		props: {
			entry
		}
	}))
}

const { entry } = Astro.props

const entryData = entry.entry.data
const entryExtra = entry.extra
---

<SidebarLayout
	poo={{
		title: entryData.title,
		collection: entry.entry.collection,
		description: entryExtra.metaDescription,
		image: entryExtra.cover?.src
	}}
>
	<ul class={`${MenuWrapper['vertical']}`} style={{ zIndex: 15 }} slot="sidebarMenu">
		<li class={`${MenuLi['vertical']}`}>
			<a
				class={`${MenuLinkWrapper['vertical']} active`}
				style={{ backgroundColor: 'white', color: 'black' }}
				href="/gigs/series"
			>
				<strong>Series</strong>
			</a>
		</li>
	</ul>
	<EntryMenu
		slot="sidebarMenu"
		collection={'series'}
		style={{ borderLeft: '3px solid white' }}
		selected={entry.entry.id}
		transition:persist
	/>
	<ul class={`${MenuWrapper['vertical']}`} style={{ zIndex: 15 }} slot="sidebarMenu">
		<li class={`${MenuLi['vertical']}`}>
			<a
				class={`${MenuLinkWrapper['vertical']} active`}
				style={{ backgroundColor: 'white', color: 'black' }}
				href="/gigs"
			>
				<strong><BackIcon style={{ position: 'relative', top: '2px' }} /> Other gigs</strong>
			</a>
		</li>
	</ul>
	<Series entry={entry} slot="content" />
</SidebarLayout>
