---
/**
 * Indicator used site-wide to indicate all-agedness of a venue.
 */
import UniversalAccessIcon from '~icons/iconoir/accessibility'
import { theme } from '../ThemeContract.css'

interface Props {
	hideText?: Boolean
}

const { hideText } = Astro.props
---

<h4
	title="All Ages"
	class={hideText ? "hiddenText" : ""}
	style={{
		color: theme.color.lightForeground
	}}
>
	<UniversalAccessIcon />
	{!hideText && 'All ages'}
</h4>



<style>
	h4.hiddenText svg {
		position: relative;
		top: 4px;
	}
	h4 {
		margin-bottom: 0;
		display: inline-flex;
		align-items: center;
		gap: 5px;
	}
</style>
