---
/**
 * Indicator used site-wide to indicate all-agedness of a venue.
 */
import { theme } from '../Theme.css'

interface Props {
	style?: Partial<CSSStyleDeclaration>
	className?: string
}
const { style, className } = Astro.props
---

<div style={style} class={className}>
	<span
		title="All Ages"
		style={{
			color: theme.color.lightForeground,
			backgroundColor: 'black'
		}}
	>
		{'ALL AGES'}
	</span>
</div>
<style>
	div {
		display: inline-block;
	}
	span {
		bottom: 1px;
		position: relative;
		border: 1px solid;
		border-radius: 3px;
		text-align: center;
		font-size: 10px;
	}
</style>
