---
/**
 * Indicator used site-wide to indicate all-agedness of a venue.
 */
import { theme } from '../Theme.css'
---

<div>
	<span
		title="All Ages"
		style={{
			color: theme.color.lightForeground
		}}
	>
		{'ALL AGES'}
	</span>
</div>
<style>
	div {
		display: inline-block;
	}
	span {
		border: 1px solid;
		border-radius: 3px;
		text-align: center;
		font-size: 10px;
	}
</style>
