---
/**
 * A responsive grid container using flexbox.
 *
 * Props:
 *  - grid (optional): an object containing the sizes used for each screen size. Defaults if not provided.
 *  - maxWidth (optional): the maximum width for the container.
 *  - fixedWidth (optional): if provided grid children will have a fixed width rather than auto.
 *  - id (optional)
 *  - classname (optional)
 */
import {
	FlexGridWrapper,
	flexXs,
	widthXs,
	flexMd,
	widthMd,
	flexLg,
	widthLg,
	maxWidth2
} from './FlexGridContainer.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'
import type { Grid } from './GridChild.astro'

interface Props {
	grid?: Grid
	maxWidth?: string
	fixedWidth?: boolean
	id?: string
	className?: string
}

const cols = 12

const { grid, maxWidth, fixedWidth, id, className = '' } = Astro.props

const processedGrid = {
	xs: grid?.xs || 6,
	md: grid?.md || grid?.xs || 3,
	lg: grid?.lg || grid?.md || grid?.xs || 3
}
---

<div
	class={`${FlexGridWrapper} ${className}`}
	id={id}
	style={assignInlineVars({
		[flexXs]: `1 1 ${100 * (processedGrid.xs / cols)}%`,
		[widthXs]: fixedWidth ? `${100 * (processedGrid.xs / cols)}%` : undefined,
		[flexMd]: `1 1 ${100 * (processedGrid.md / cols)}%`,
		[widthMd]: fixedWidth ? `${100 * (processedGrid.md / cols)}%` : undefined,
		[flexLg]: `1 1 ${100 * (processedGrid.lg / cols)}%`,
		[widthLg]: fixedWidth ? `${100 * (processedGrid.lg / cols)}%` : undefined,
		[maxWidth2]: maxWidth
	})}
>
	<slot />
</div>
