---
/**
 * A responsive grid container.
 * Default: Requires no media queries, will automatically collapse.
 * Fixed: 12 column grid, wrap children in GridChild and pass grid.
 */

import { gridWrapper } from './GridContainer.css'

interface Props {
	fixed?: boolean
	id?: string
	className?: string
}

const { fixed, id = '', className = '' } = Astro.props
---

<div class={`${gridWrapper[fixed ? 'fixed' : 'autoflow']} ${className}`} id={id}>
	<slot />
</div>
