---
/**
 * Children of fixed GridContainers should be wrapped in this.
 */

import { gridChild, colXs, colSm, colMd, colLg } from './GridChild.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'

export interface Grid {
	xs: number
	md?: number
	lg?: number
}

interface Props {
	grid?: Grid
}

const { grid } = Astro.props

const processedGrid = {
	xs: grid?.xs,
	md: grid?.md || grid?.xs,
	lg: grid?.lg || grid?.md || grid?.xs
}
---

<div
	class={gridChild}
	style={assignInlineVars({
		[colXs]: `span ${processedGrid.xs}`,
		[colMd]: `span ${processedGrid.md}`,
		[colLg]: `span ${processedGrid.lg}`
	})}
>
	<slot />
</div>
