---
/**
 * A gallery of ResponsiveImage's with an optional lightbox.
 *
 * If you are using multiple gallerys in one page you shuld pass noLightbox=true
 * and use your own lightbox outside of this component.
 *
 */
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import ImageGalleryLightbox from './ImageGalleryLightbox.astro'
import { gridWrapper } from './GridContainer.css'
import LightboxImage from './LightboxImage.astro'

interface Props {
	images: ResponsiveImage[]
	noLightbox?: boolean
}

const { images, noLightbox } = Astro.props
---

<div class={gridWrapper['autoflow']}>
	{images.map((responsiveImage) => <LightboxImage responsiveImage={responsiveImage} />)}
</div>

{!noLightbox && <ImageGalleryLightbox />}
