---
/**
 * Wraps an image and allows it to open in a lightbox.
 * 
 * See ImageGalleryLightbox.astro
 *
 * Props:
 *  - see image2
 */
import Image2 from './Image2.astro'
import type { Props } from './Image2.astro'

const props = Astro.props
---

<a
	class={`lightboxImage`}
	style={{ display: 'block' }}
	href={props.responsiveImage?.images['3200']}
	data-download-url={props.responsiveImage?.src}
	data-lg-size={"3200-2134"}
	data-alt={props.responsiveImage?.alt || props.alt}
>
	<Image2 {...props} />
</a>
