---
import { searchboxWrapper } from './SearchBox.css'
import SearchIcon from '~icons/bx/search'

interface Props {
	placeholder?: string
	className?: string
}

const { placeholder, className } = Astro.props
---

<label class={`${searchboxWrapper} ${className} flex`}>
	<SearchIcon class="hideMobile" />
	<input type="text" data-filter="title=value" placeholder={placeholder} />
</label>
