---
import { searchboxWrapper } from './SearchBox.css'
import SearchIcon from '~icons/iconoir/search'

interface Props {
	placeholder?: string
	className?: string
}

const { placeholder, className = '' } = Astro.props
---

<label class={`${searchboxWrapper} ${className} flex`}>
	<SearchIcon class="hideMobile" />
	<input type="search" name="search" placeholder={placeholder} data-search />
</label>
