---
/**
 * Wrapper for a page with a sidebar navigation.
 * Slots:
 *  - sidebar: Put your sidebar menu in this.
 *  - content: Put the rest of the page in this.
 * Props:
 *  - top: Offset from the top.
 */
import MenuIcon from '~icons/bx/menu'
import { sidebarWrapper, contentWrapper, menuButtonWrapper, offsetTop } from './SidebarNav.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'

interface Props {
	top?: string
}

const { top } = Astro.props
---

<button id="sidebar-button" class={menuButtonWrapper}><MenuIcon /></button>
<div
	id="sidebar"
	class={sidebarWrapper}
	style={assignInlineVars({
		[offsetTop]: top
	})}
>
	<slot name="sidebar" />
</div>
<div class={contentWrapper}>
	<slot name="content" />
</div>

<script>
	document.getElementById('sidebar-button')?.addEventListener('mousedown', (e) => {
		document.getElementById('sidebar')?.classList.toggle('open')
	})
</script>
