---
import { siteContainer } from './SiteContainer.css'

interface Props {
	hideFooter?: boolean
}

const { hideFooter } = Astro.props
---

<div class={siteContainer[hideFooter ? 'hideFooter' : 'normal']}>
	<slot />
</div>
