---
import { socialLinksToMenuItems } from 'src/util/helpers'
import { theme } from 'src/Theme.css'
import type { z } from 'astro:content'
import type { webLinks } from 'src/content/config'

interface Props {
	links?: z.infer<typeof webLinks>,
	className?: string
}

const { links, className } = Astro.props
---

<div class={className}>
{
	socialLinksToMenuItems(links).map((item) => (
		<a href={item.href} style={{ marginRight: theme.dimensions.basePadding }}>
			{item.title}
		</a>
	))
}
</div>
