---
/**
 * Makes it easier to use images in blogs.
 *
 * Props:
 *  - src: the name of the image
 *  - images: all images in the entry frontmatter
 *  - alt (optional): alt text
 */
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import Image2 from '../Image2.astro'

interface Props {
	src: string
	images: { [key: string]: ResponsiveImage }
	alt?: string
}

const { src, images, alt } = Astro.props

// Find the index so we can open the correct image in the lightbox (see Blog.astro)
const image = images[src]
const imageIndex = image ? Object.values(images).indexOf(image) : null
---

<div class="blogImage">
	{
		imageIndex && (
			<Image2 size="blog" imageIndex={imageIndex} responsiveImage={image} lightboxEnabled={true} alt={alt} />
		)
	}
	{imageIndex === null && <small>image not found</small>}
</div>
