---
/**
 * A gallery of ResponsiveImage's designed for blog galleries
 *
 * Differs from the regular ImageGallery in that it uses the manual
 * indexing method which requires it to see all images. 
 * This is so we can have multiple BlogImages and galleries on a page.
 *
 */
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import BlogImage from './BlogImage.astro'
import ImageGalleryLightbox from '../ImageGalleryLightbox'
import { gridWrapper } from '../GridContainer.css'

interface Props {
	images: { [key: string]: ResponsiveImage }
}

const { images } = Astro.props
---

<div class={gridWrapper['autoflow']}>
	{Object.keys(images).map((key) => <BlogImage src={key} images={images} />)}
</div>

<ImageGalleryLightbox images={Object.values(images)} client:load />
