---
import { cornerLabelWrapper } from './CornerLabel.css'

/**
 * Label in the corner of the latest gig.
 */

interface Props {
	position?: 'left' | 'right'
	top?: string
}

const { position, top } = Astro.props
---

<div class={cornerLabelWrapper[position || 'left']} style={{ top: top }}>
	<slot />
</div>
