---
import { cornerLabelWrapper, topOffset, backgroundColor } from './CornerLabel.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'

/**
 * Label in the corner of the latest gig.
 */

interface Props {
	position?: 'left' | 'right'
	top?: string
	background?: string
}

const { position, top, background } = Astro.props
---

<div class={cornerLabelWrapper[position || 'left']} style={assignInlineVars({
	[topOffset]: top,
	[backgroundColor]: background,
})}>
	<slot />
</div>
