---
/**
 * Label in the corner of the latest gig.
 */
---

<div class="labelWrapper">
	<slot />
</div>

<style>
	.labelWrapper {
		position: absolute;
		font-weight: bold;
		left: -60px;
		background-color: white;
		color: black;
		top: 20px;
		width: 200px;
		text-align: center;
		transform: rotateZ(-40deg);
		font-size: 60%;
		z-index: 8;
		@media screen and (--xs) {
			left: -50px;
			top: 25px;
			font-size: 100%;
		}
	}
</style>
