---
import TextContainer from 'src/components/TextContainer.astro'
import BaseLayout from './BaseLayout.astro'
import type { ProcessedEntry } from 'src/util/collection.ts'
import Banner from 'src/components/Banner.astro'

interface Props {
	entry: ProcessedEntry<'blog'>
}
const { entry } = Astro.props
const { Content, headings } = await entry.entry.render()
---

<BaseLayout>
	<TextContainer>
		{
			entry.extra.cover && (
				<Banner backgroundImage={entry.extra.cover}>
					<h1>{entry.entry.data.title}</h1>
				</Banner>
			)
		}
		<Content />
	</TextContainer>
</BaseLayout>
