---
import BaseLayout from './BaseLayout.astro'
import type { ProcessedEntry } from 'src/util/collection.ts'

interface Props {
	entry: ProcessedEntry<'vaultsession'>
}
const { entry } = Astro.props
---

<BaseLayout>
	<h3>{entry.entry.id}</h3>
</BaseLayout>
